extends layouts/layout

block content
  - if (data.length > 0)
    table
      - each item in data
        tr
          td= item.name
          td= item.catchPhrase
          td= item.avatar
          td= item.image
          td= item.animal
          td= item.company
